[run]
omit =
   */node_modules/*
   *__init__*
   *apps.py*
   manage.py
   homekeeper/asgi.py
   homekeeper/wsgi.py
   homekeeper/settings.py
   common/management/commands/dumpschema.py
source = .
branch = True

[report]
show_missing = True
