Django~=3.2
Django-filter~=2.4.0
django-graphql-jwt~=0.3.4
djangorestframework~=3.13.1
graphene~=3.0b7
graphene-django~=3.0.0b7
graphene-django-extras~=0.5.2
psycopg2-binary~=2.9.2

mypy==0.910
django-stubs~=1.9.0
graphene-stubs==0.15

factory-boy~=3.2.1
Faker~=13.1.0
parameterized~=0.8.1
coverage~=6.2

# Deployment
gunicorn~=20.1.0
dj-database-url==0.5.0
whitenoise~=5.3.0
